@font-face {
    font-family: italicHead;
    src: url(fonts/Montserrat-ExtraBoldItalic.otf);
}

@font-face {
    font-family: header;
    src: url(fonts/MavenPro-Medium.ttf);
}

@font-face {
    font-family: HFont;
    src: url(fonts/Signika-Bold.otf);
}


.default{
    position: absolute;
    display: inline-block;
}

body::-webkit-scrollbar,  #admin-display::-webkit-scrollbar{
    width: 0.7em;
    background: rgb(64, 92, 129);
  }
  body::-webkit-scrollbar-thumb, #admin-display::-webkit-scrollbar-thumb {
    background: #267dc4;
    border-radius: .7em
  }

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: white
}

#app{
    width: 100%;
    /*margin-top: 70px;*/
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#header{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(33, 150, 243);
}

.header-menu{
    position: absolute;
    height: 72px;
    top: 0;
    right: 200px;
    margin: 0;
    padding: 0
}

.logo-container{
    display: inline-block;
    width: 100px;
    height: 70px;
}

.logo{
    display: inline-block;
    width: 100px;
    height: 70px;
    margin : 0 30px 0 200px;
    top: 0;
    float: left;
    background: url('../public/assets/logo.png') no-repeat center;
    background-size: 100%
}

.header-item, .header-item-container{
    box-sizing: border-box;
    margin: 0 10px 0 10px;
    display: inline-block;
    height: 70px;
    width: 80px;
    top: 0;
    line-height: 70px;
    cursor: default;
    font-family: header;
    font-size: 16px;
    color: white;
    text-shadow: 0 0 10px rgba(158, 190, 218,.5);
    text-align: center;
    text-decoration: none;
    transition: all 250ms linear;
}

.header-item:hover{
    border-bottom: 2px solid white;
    background-color: rgba(0,0,0,0.05)
}

.header-item-container .header-item{
    margin: 0
}

footer{
    position: relative;
    top: 80px;
    background-color:  #444444;
    color: white;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.button{
    padding: 0 15px;
    width : 150px;
    border-radius: 40px;
    box-shadow: 0 2px 42px #0f7cd2cc;
    font-family: HFont;
    color: white;
    transition: all .3s ease;
    font-weight: 500;
    cursor: pointer;
}

.main-landing-page-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    background: #2196f3 url('../public/assets/background.png') no-repeat 80px 80px;
    background-size: 200px;
}

.main-img-text-block{
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto
}

.main-text-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-img-block{
    width: 50%;
    display: flex;
}

.main-img{
    width: calc(100% - 200px);
    margin: auto;
    margin-right: 200px
}

.search-container{
    display: flex;
    width: calc(100% - 300px);
    min-width: 330px;
    margin-left: 200px;
    height: 0;
    padding-bottom: 35px;
    margin-top: 20px;
    box-shadow: 0 2px 42px #0f7cd2cc;
    border-radius: 35px;
}

.main-search-input{
    margin: 0;
    padding: 0 5px 0 30px;
    border: none;
    height: 35px;
    width: calc(60% - 35px);
    border-radius: 17.5px 0 0 17.5px;
    font-family: HFont;
    outline: none;
    color: #156bae;
}

input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #156bae;
}
input::-moz-placeholder, .textarea::-moz-placeholder{ /* Firefox 19+ */
    color: #156bae;
}
input:-ms-input-placeholder, .textarea:-ms-input-placeholder{ /* IE 10+ */
    color: #156bae;
}

.main-search-input-icon{
    height: 35px;
    width: 35px;
    border-radius: 0 17.5px 17.5px 0;
    background-color: white;
    margin: 0;
    background: #2196f3 url('../public/icons/magnifier.svg') no-repeat center;
    background-size: 20px;
}

.main-search-input-domain-cotainer{
    display: flex;
    flex-direction: column;
    width: calc(40% - 35px);
    height: 35px;
    margin: 0;
}

.main-search-input-domain{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: white;
    font-family: HFont;
    color: #156bae;
}

.title{
    margin-top: 130px;
    margin-left: 200px;
    left: 0;
    width: calc(100% - 200px);
    color: white;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 50px;
    text-shadow: 0 2px 42px #0f7cd2cc;
    font-family: HFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub-title{
    margin-left: 200px;
    left: 0;
    width: calc(100% - 200px);;
    font-weight: 300;
    margin-top : 5px;
    color: white;
    text-shadow: 0 2px 42px #0f7cd2cc;
    font-family: HFont;
}

.signing-container{
    flex-direction: row;
    display: flex;
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-top : 50px;
    height: auto;
}

.sign-in{
    width: 160px;
    min-width: 132px;
    height: 40px;
    line-height: 40px;
    border : none;
    background: #06ffa6;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none
}

.sign-up{
    width: 170px;
    min-width: 132px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    margin-left: 80px;
    border : none;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(to right top, #ff1744, #f44336);
    text-decoration: none
}

.section-top, .section-bottom, .section-bottom-revers{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.section-top{
    top: 40px;
}


.section-bottom{
    top: -40px;
    background-color: #f8f8f8;
}

.section-bottom-revers{
    background-color: #f2f2f4;
    top: -40px;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.home-section{
    position: relative;
    overflow : hidden;
    top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 calc(100 - 40px));
    clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 calc(100 - 40px));
}

.how-section{
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 1000px;
    height: fit-content;
}

.section-title{
    width: 100%;
    text-align: center;
    font-family: italicHead, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    font-size: 65px;
    color: #444;
}

.how-container{
    display: flex;
    margin: 150px auto;
}

.how-container:nth-child(2n){
    flex-direction: row-reverse;
}

.how-container:nth-child(2n) .how-container-txt, .how-container:nth-child(2n) .how-container-description{
    margin-right: 0;
    margin-left: 100px; 
}

.how-shapeimg-container{
    width: 300px;
    height: 300px;
    display: flex;
}

.how-container-img{
    margin: auto;
    height: 200px;
    width: 200px;
}

.how-container-texte{
    width: 500px
}

.how-container-txt{
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: #004888;
    text-shadow: 0 0 25px rgba(15, 124, 210, 0.22);
    font-size: 30px;
    font-family: italicHead, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.how-container-description{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 16px;
    text-shadow: 0 0 25px rgba(15, 124, 210, 0.22);
    color: #004888;
}

.how-container:nth-child(2n) .how-container-txt, .how-container:nth-child(2n) .how-container-description{
    margin-right: 0;
    margin-left: 100px; 
}

.right-how-container .how-container-txt{
    text-align: right
}

.component{
    width: 220px;
    height: 250px;
    display: inline-block;
}

.why-section{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 80px;
    background: rgb(33, 150, 243) url('../public/assets/flying-girl.png') no-repeat 50px 500px;
    background-size: 180px;
    overflow : hidden
}

.why-background-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    padding-bottom: 40%;
    background: url('../public/assets/cool-man.png') no-repeat center;
    background-size: 100% 100%;
}

.why-section-title{
    margin-top: 100px;
    color: white;
}

.why-subsection-title{
    color: white;
    font-family: HFont;
}

.why-container{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.why-component{
    margin-top: 100px
}

.how-img-container, .why-img-container{
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
}

.how-text, .why-text{
    display: block;
    width: 180px;
    font-size: 12px;
    margin-left: 20px; 
    height: 120px;
    top: 130px;
    margin-top : 20px;
    left: 0;
    color: rgba(9, 71, 120, 0.83);
    font-family: italicHead, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
}

.why-text{
    color: white
}

.how-img, .why-img{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-left: calc(50% - 55px);
    margin-top: 25px;
    border: 10px solid #175cc8;
    box-shadow: 0 0px 42px #005eef87;
}

.how-img{
    background-color: #011083;
}

.why-img{
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 130px;
    height: 130px;
    margin: 0;
    margin-left: 45px;
}

.help-us{
    width: 120px;
    float: left;
    line-height: 40px;
    cursor: pointer;
    margin-top: 40px;
    border: 2.5px solid #444444;
    text-align: center;
    padding-right: 20px;
    margin-bottom: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: all 200ms linear;
    text-decoration: none;
    color: #444444
}

.help-us:hover{
    color: white;
    background-color: #444444
}

.help-container, .sign-container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #e5e6e759);
    overflow: hidden;
}

.help-form{
    margin: auto;
    margin-top: 80px;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 17.5px;
    box-shadow: 0 0px 20px #156bae1a;
    padding: 50px;
    padding-top: 0;
}

.help-container .section-title{
    top: 0
}

.input-label{
    float: left;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    clear: left;
    margin: 20px 0;
    color: #444444
}

.help-input{
    float: left;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    margin: 20px 0;
    margin-left: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #4444
}

.textarea{
    float: left;
    width: calc(100% - 200px);
    height: 300px;
    line-height: 30px;
    font-family: HFont;
    padding-left: 20px;
    margin: 0;
    margin-left: 50px;
    margin-top: 60px;
    border-radius: 17.5px;
    outline: none;
    border: none;
    box-shadow: 0 0px 2px #9ec8e8e0;
    color: #156bae
}

/*/////////     sign styling         /////////*/


.sign-form{
    display: flex;
    flex-direction: column;
}

.sign-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.sign-in-container, .sign-up-container{
    flex: 1;
    min-width: 500px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}



.form-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 17.5px;
    box-shadow: 0 0px 20px #156bae1a;
    margin: 50px;
    overflow: hidden;
}


.sign-in-container .section-title, .sign-up-container .section-title{
    top: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #2196f3;
    margin-bottom: 0;
    font-family: HFont
}

.sign-msg-container{
    flex: 1;
    min-width: 500px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 220px);
}

.sign-msg{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 17.5px;
    max-height: 250px;
    box-shadow: 0 0px 20px #156bae1a;
    margin: auto;
    overflow: hidden;
}

.sign-text{
    height: fit-content;
    padding: 20px;
    color: #112e69;
    font-family: HFont;
    margin: auto;
    font-size: 24px;
}

.fb-btn-auth{
    margin: auto;
    margin-top: 50px;
    width: 150px;
    box-shadow: rgba(15, 124, 210, 0.22) 0px 2px 32px;
    background: #4973c7;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: none;
    border-radius: 17.5px;
    outline: none;
    margin-top: 50px;
    font-family: HFont;
}

.profile-container{
    position: absolute;
    top: 70px;
    z-index: 99999;
    left: calc(50% - 150px);
}

.sign-icon{
    width: 100px;
    font-size: 80px;
    height: 100px;
    margin: auto;
}

.sign-in-container .section-title{
    line-height: 100px
}

.sign-up-container .section-title{
    line-height: 50px
}


.sign-form input{
    flex: none;
    margin: auto;
    margin-top: 60px;
}

.sign-form button{
    box-shadow: 0 2px 32px #0f7cd238;
    margin: auto;
    margin-top: 50px;
    width: 150px;
    margin-bottom: 50px;
}




/*/////////     course styling         /////////*/


.courses-container{
    margin-top: 70px;
    height : calc(100vh - 70px);
    background-color : rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
}

#courses-display{
    width: calc(100% - 301px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.course{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin-top: 40px;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 250ms linear, border 250ms linear;
    background-color: white;
    border-bottom: 1px solid rgba(87, 87, 87, 0.24);
}

.course:hover{
    border-bottom: none;
    box-shadow: 0 4px 24px rgba(0,0,0,.1)
}

.course-image{
    width: 100%;
    display: block
}

.course-title{
    font-family: HFont;
    font-size: 14px;
    color: #0d7ad2;
    width: calc(100% - 20px);
    display: block;
    height: 50px;
    padding-top: 30px;
    padding-left: 20px;
}

.course-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 39px;
}

.course-duration, .course-save-later,.course-save-later::before{
    width: 25%;
    height: 39px;
}

.course-difficulty{
    width: 50%;
    height: 39px;
}

.course-save-later{
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.course-save-later::before{
    content: "❤";
    display: inline-block;
    font-size: 16px;
    line-height: 39px;
    color: transparent;
    -webkit-text-stroke: 1px #0d7ad2;
    box-shadow: 0 0 0 rgba(255, 99, 100, 0.4);
}

.course-save-later:checked::before{
    color: rgb(255, 99, 100);
    animation: pulse 500ms forwards;
}

.course-info-element{
    font-size: 14px;
    font-family: HFont;
    text-align: center;
    line-height: 39px;
    color: #0d7ad2;
}

.course-info-element:hover, .course-info-element:not(:checked):hover::before{
    color: #0c5791
}


/*/////////     navigation bar styling         /////////*/



#navbar-container{
    background: rgb(33, 150, 243);
    width: 300px;
    height: calc(100vh - 72px);
}

#navbar{
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}



/*/////////     inputs styling         /////////*/



.input{
    width: 240px;
}

.navbar-elem.input, .navbar-elem .select-input, .help-us-input{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0 5px 0 30px;
    border: none;
    height: 35px;
    background-color: white;
    border-radius: 17.5px;
    font-family: HFont;
    outline: none;
    color: #156bae;
    box-shadow: 0 2px 42px #0f7cd2cc;
}

.help-us-input{
    border: .8px solid #156bae0f;
}

.navbar-elem{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 0;
    width: 230px;
    box-sizing: border-box;
    width: 230px;
    height: 35px;
    box-shadow: 0 2px 42px #0f7ed2e0;
    border-radius: 17.5px;
}

.navbar-elem.input{
    color: #156bae;
    width: 230px;
    box-shadow: 0 2px 42px #0f7ed2e0, 0 2px 42px #0f7ed2e0;
    margin-top: 40px 
}

.filter-navbar{
    color: white;
    margin: 0;
    text-shadow: 0 2px 42px #0f7ed2e0, 0 2px 42px #0f7ed2e0;
    top: 0
}

.navbar-elem .select-input{
    flex: none;
    color: #156bae;
    box-sizing: border-box;
    margin: 0;
    border-radius: 17.5px 0 0 17.5px;
    width: 195px;
}

.select-data{
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 0;
    width: 100%;
    position: absolute;
}

.help-us-input{
    width: calc(100% - 200px);
    box-shadow: 0 0px 2px #9ec8e8e0;
    padding: 0 5px 0 30px;
    margin-left: 50px;
    margin-right: auto;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    margin-top: 60px;
    font-family: HFont;
    outline: none;
    color: #156bae;
}

.input-dropdown{
    flex: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 0 17.5px 17.5px 0;
    background-color: rgb(33, 150, 243);
    transition: background-color 250ms linear;
}

.drop-icon{
    background: #2196f3 url(../public/icons/drop.svg) no-repeat center;
    background-size: 20px;
}

.add-icon{
    background: #2196f3 url(../public/icons/add.svg) no-repeat center;
    background-size: 20px;
}

.input-dropdown:hover{
    background-color: rgb(24, 139, 233);
}

.dropdown-menu{
    top: 5px;
    position: relative;
    z-index: 99999;
}

.svg-dropdown{
    -webkit-filter: drop-shadow(0 2px 42px #0f7cd2cc);      
    filter: drop-shadow(0 2px 42px #0f7cd2cc);
}



/*/////////     Course display stying       /////////*/

#course-display{
    display: block;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    width: 100%;
    left: 0;
}

#course-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100% - 150px);
    top: calc(70px + calc(calc(calc(100vh - 70px) - calc(100% - 150px))/2));
    right: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #444444
}

.course-author{
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    height: 80px;
    display: flex;
    flex-direction: row
}

.course-author-image{
    position: relative;
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.course-author-inf{
    width: calc(100% - 70px);
    height: 100%;
    display: flex;
    flex-direction: column
}

.course-author-name{
    height: 60%;
    top: 0;
    width: 100%;
}

.course-author-function{
    width: 100%;
    height: 40%;
}

#course-body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(33, 150, 243)
}

.course-domaine-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-image: url("/domainesBg/dev.svg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

#course-video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 400px);
    height: calc(100vh - 100px);
}

.chapter-title{
    width: calc(100% - 100px);
    margin: auto;
    min-width: 320px;
    max-width: 853px;
    margin-bottom: 0;
    color: white;
    font-family: HFont
}

.youtube-video-container{
    width: calc(100% - 100px);
    height: calc(calc(100vw - 500px)*9/16);
    margin: auto;
    margin-top: 30px;
    min-width: 320px;
    min-height: 240px;
    max-width: 853px;
    max-height: 480px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 9900;
}

/*//////// choourse text styling ////////*/

#course-text-display{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    height: auto;
}

#course-text{
    margin: 50px auto 50px 50px;
    padding: 0;
    left: 0;
    height: auto;
    width: calc(100% - 450px);
    background-color: #f8f8f8
}



/*///////////////  admin styling /////////////*/

#admin-page{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 70px;
    width: 100%;
}

#admin-display{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    overflow: auto;
    background: linear-gradient(to bottom, #ffffff, #e5e6e759);
}

#add-cours{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#admin-navbar{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: calc(100vh - 70px);
    background-color: #2196f3;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.2);
}

.admin-navbar-element{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row
}

.admin-navbar-element-icon{
    height: 50px;
    flex: none;
    font-size: 24px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #156bae;
    cursor: pointer;
    transition: all 250ms linear;
}

.admin-navbar-element:hover .admin-navbar-element-icon{
    color: white;
}

.admin-navbar-element-text {
    flex: none;
    width: 80px;
    height: 35px;
    margin-top: 7.5px;
    font-family: HFont;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    box-shadow: 0 0px 20px #156cae44;
    position: relative;
    left: 10px;
	background: #2196f3;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms linear;
}

.admin-navbar-element-text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #2196f3;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

.admin-navbar-element:hover .admin-navbar-element-text{
    visibility: visible;
    opacity: 1;
}

.admin-navbar-element:first-child{
    margin-top: 50px
}

#define-courses, #add-user, #metadata-management{
    display: flex;
    flex-direction: column;
    width: calc(100% - 450px);
    margin: 50px 0 50px 50px;
    max-width : 900px;
    box-shadow: 0 0px 20px #156bae1a;
    background-color: white;
    border-radius: 17.5px
}

#add-user, #metadata-management{
    margin: auto;
    margin-top: 100px
}

#data-display{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    min-height: 200px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #fbfbfb;
    box-shadow: inset 0 0 2px rgba(0,0,0,.05)
}

.add-button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    margin: 20px auto 20px auto;
    transition: all 250ms linear;
    outline: none;
}

.add-button:hover{
    background-color: rgb(21, 107, 174);
    color: white
}

#add-metadata, .metadata-element{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto 30px auto;
    max-width: 900px;
    border: 0.75px solid rgba(0,0,0,.05);
    background-color: white;
    border-radius: 17.5px;
}

.metadata-element{
    padding: 10px;
    margin: 10px auto 0px auto;
}

.metadata-action{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 250ms linear;
}

.metadata-update{
    color: #06ffa6;
    margin-right: 10px
}

.metadata-update:hover{
    background-color: #06ffa6;
    color: white
}

.metadata-delete{
    color: #ff1744;
}

.metadata-delete:hover{
    background-color: #ff1744;
    color: white
}

.metadata-action-container{
    display: flex;
    flex-direction: row-reverse;
}

.metadata-item{
    padding-top: 5px;
    padding-left: 30px;
    font-family: HFont;
    color: #156bae;
    width: 70%;
}


#course-intro, #course-chapter{
    display: flex;
    flex-direction: column;
}

.addcourse-input {
    width: calc(100% - 200px);
    padding: 0 5px 0 30px;
    margin-left: 50px;
    margin-right: auto;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    margin-top: 60px;
    font-family: HFont;
    outline: none;
    box-shadow: none;
    border: .8px solid #156bae0f;
    color: #156bae;
}

.addcourse-input.select-input{
    padding: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.addcourse-input .select-input{
    width: calc(100% - 70px);
    flex: none;
    height: 35px;
    border: none;
    border-radius: 17.5px 0 0 17.5px;
    padding: 0 5px 0 30px;
    color: #156bae;
    font-family: HFont;
    
}

.file-upload{
    width : 350px;
    height: 300px;
}

.upload-hover{
    background-color: rgb(32, 203, 151, .1)
}

.upload-preview-image{
    width : 350px;
    height: 300px;
}

.drop-list-element{
    display: block;
    width: calc(100% - 20px);
    padding-left: 20px;
    height: 30px;
    line-height: 35px;
    cursor: pointer;
    transition: color 250ms linear, background-color 250ms linear;
}

.drop-list-element:hover{
    color: white;
    background-color: #2196f3
}

#created-chapters{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 170px);
    margin: 50px 50px 0 50px;
    background-color: white;
    box-shadow: 0 0px 20px #156bae1a;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 17.5px
}

#created-chapters-top{
    width: 100%;
    height: 80px;
    color: white;
    background-color: #2196f3;
    font-family: HFont;
    line-height: 80px;
    text-align: center;
}

#created-chapters-body{
    width: 100%;
    height: calc(100% - 180px);
}

.validate-chapter-button{
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: white;
    border: none;
    border-radius: 17.5px;
    background-color: #2196f3;
    outline: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(80% - 50px);
    font-family: HFont
}



/*///////////////  editor styling /////////////*/



.editor{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin-top: 80px;
    left: 0;
    top: 0;
    box-shadow: 0 0px 2px #9ec8e8e0;
    border-radius: 17.5px;
    margin-left: 50px;
}

.editor-toolbar{
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    left: 0;
    top: 0;
}

.editor-body{
    position: relative;
    width: 100%;
    left: 0;
    min-height: 300px;
    outline: none;
    border-top: 0.75px solid #e8f6ff;
}

.editortoolbar-button{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    transition : background-color 250ms linear
}

.toolbar-fontsize{
    width: 45px;
}

.fontsizevalue{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-family: 'Tit bold'
}

.fontsize-container{
    width: 100%;
    height: 400%;
    top: 100%;
    left: 0;
    overflow: scroll;
    background-color: white;
    z-index: 1
}

.fontvalue{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition : background-color 250ms linear
}

.fontvalue:hover{
    background-color: #2196F3
}

.editortoolbar-button:hover{
    background-color :  #00000010
}

.toolbar-separator{
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 5px;
    background-color:  #00000010
}